.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.category {
    width: 100%;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        padding: 0;
    }
}

.card {
    width: 254px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 20px 0;
    border: 3px dotted black;
    img {
        width: 200px;
    }
}